{% for i in popular_games %}
<div class="widget-item">
        <div class="feature-item set-bg" data-setbg="{{ i.image.url }}">
            <span class="cata new">{{ i.category }}</span>
            <div class="fi-content text-white">
                <h5><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h5>
                <p>{{ i.description|safe|linebreaks|truncatewords_html:10 }}</p>
                <div class="fi-comment">Views: {{ i.views }}</div>
            </div>
        </div>
    </div>
{% endfor %}