{% load static %}
{% if page_obj.has_other_pages %}
<div class="site-pagination">

    {% if page_obj.has_previous %}
        {% if page_obj.number|add:-2 == 1 or page_obj.number|add:-1 == 1 %}
            <a class="owl-dots" href="?page=1"> 1.</a>
        {% elif not page_obj.number|add:-1 == 1 %}
            <a class="owl-dots" href="?page=1">&laquo; 1.</a>
            <a class="owl-dots">...</a>
        {% endif %}
        {% if not page_obj.number|add:-1 == 1 %}
            <a class="inactive" href="?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}.</a>
        {% endif %}
    {% endif %}


    <span class="active">
        {{ page_obj.number }}.
    </span>


    {% if page_obj.has_next %}
        <a class="owl-dots" href="?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}.</a>
        {% if not page_obj.number|add:1 == page_obj.paginator.num_pages %}
            {% if page_obj.number|add:2 == page_obj.paginator.num_pages or page_obj.number|add:1 == page_obj.paginator.num_pages %}
                <a class="owl-dots" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}.</a>
            {% elif not page_obj.number|add:1 == page_obj.paginator.num_pages %}
                <a class="owl-dots">...</a>
                <a class="owl-dots" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}. &raquo;</a>
            {% endif %}
        {% endif %}
    {% endif %}


</div>
{% endif %}